In [45]:
import numpy as np
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

dfb = pd.read_csv('data1719noEex.csv') #item27を消しておく必要がある

dfb.head()

,item1_1_1_a,item1_1_2_a,item1_1_3_a,item1_1_4_a,item1_3_1_a,item1_3_2_a,item1_3_3_a,item1_3_4_a,item1_3_5_a,item1_5_1_a,...,item35_3_1_a,item35_3_2_a,item35_3_3_a,item35_3_4_a,item35_5_1_a,item35_5_2_a,item35_5_3_a,item35_7_1_a,item35_7_2_a,item35_7_3_a
0,1,1,1,1,1,1,1,1,1,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
1,1,1,1,1,1,1,1,1,1,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
2,1,1,1,1,1,1,1,1,1,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
3,1,1,1,1,1,1,1,1,1,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
4,1,1,1,1,1,1,1,1,1,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0

In [46]:
dfb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1111 entries, 0 to 1110
Columns: 448 entries, item1_1_1_a to item35_7_3_a
dtypes: float64(87), int64(361)
memory usage: 3.8 MB

In [47]:
dfb_imputed = pd.DataFrame(IterativeImputer().fit_transform(dfb))
dfb_imputed.columns = dfb.columns
print(dfb_imputed.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1111 entries, 0 to 1110
Columns: 448 entries, item1_1_1_a to item35_7_3_a
dtypes: float64(448)
memory usage: 3.8 MB
None

In [48]:
dfb_imputed

,item1_1_1_a,item1_1_2_a,item1_1_3_a,item1_1_4_a,item1_3_1_a,item1_3_2_a,item1_3_3_a,item1_3_4_a,item1_3_5_a,item1_5_1_a,...,item35_3_1_a,item35_3_2_a,item35_3_3_a,item35_3_4_a,item35_5_1_a,item35_5_2_a,item35_5_3_a,item35_7_1_a,item35_7_2_a,item35_7_3_a
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.00000,1.000000
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.00000,1.000000
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.00000,1.000000
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.00000,1.000000
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.00000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1106,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.63893,0.487012
1107,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.63893,0.487012
1108,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.63893,0.487012
1109,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.63893,0.487012
1110,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.63893,0.487012

In [49]:
import numpy as np
import pandas as pd
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import RandomForestRegressor

dfr = pd.read_csv('data1719noEex.csv') #item27を消しておく必要がある

dfr.head()

,item1_1_1_a,item1_1_2_a,item1_1_3_a,item1_1_4_a,item1_3_1_a,item1_3_2_a,item1_3_3_a,item1_3_4_a,item1_3_5_a,item1_5_1_a,...,item35_3_1_a,item35_3_2_a,item35_3_3_a,item35_3_4_a,item35_5_1_a,item35_5_2_a,item35_5_3_a,item35_7_1_a,item35_7_2_a,item35_7_3_a
0,1,1,1,1,1,1,1,1,1,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
1,1,1,1,1,1,1,1,1,1,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
2,1,1,1,1,1,1,1,1,1,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
3,1,1,1,1,1,1,1,1,1,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0
4,1,1,1,1,1,1,1,1,1,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0

In [50]:
dfr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1111 entries, 0 to 1110
Columns: 448 entries, item1_1_1_a to item35_7_3_a
dtypes: float64(87), int64(361)
memory usage: 3.8 MB

In [51]:
dfr_imputed = pd.DataFrame(IterativeImputer(RandomForestRegressor()).fit_transform(dfr))
dfr_imputed.columns = dfr.columns
print(dfr_imputed.info())

/opt/anaconda3/lib/python3.8/site-packages/sklearn/impute/_iterative.py:685: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn("[IterativeImputer] Early stopping criterion not"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1111 entries, 0 to 1110
Columns: 448 entries, item1_1_1_a to item35_7_3_a
dtypes: float64(448)
memory usage: 3.8 MB
None

In [52]:
dfr_imputed

,item1_1_1_a,item1_1_2_a,item1_1_3_a,item1_1_4_a,item1_3_1_a,item1_3_2_a,item1_3_3_a,item1_3_4_a,item1_3_5_a,item1_5_1_a,...,item35_3_1_a,item35_3_2_a,item35_3_3_a,item35_3_4_a,item35_5_1_a,item35_5_2_a,item35_5_3_a,item35_7_1_a,item35_7_2_a,item35_7_3_a
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.00,1.00
1,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.00,1.00
2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.00,1.00
3,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.00,1.00
4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.00,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1106,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.85,0.63
1107,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.85,0.63
1108,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.85,0.63
1109,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.85,0.63
1110,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,0.0,1.0,0.85,0.63